Basic Statistics:

    Total Kills (K) per player. (By scope, by side, ) 
    Total Deaths (D) per player.
    Kill/Death ratio (K/D) per player.
    Average Combat Score (ACS) per player.
    Average Damage per Round (ADR) per player.

Performance Metrics:

    Headshot Percentage (HS%) per player.
    First Kills (FK) and First Deaths (FD) counts and ratios.
    Kill/Death difference (+/-) per player.
    Kill/Death difference in pistol rounds (+/-) per player.

Agent-Specific Metrics:

    Agent popularity and performance analysis.
    Win rates and performance on specific maps for each agent.

Team Performance:

    Total team Kills, Deaths, and K/D ratio.
    Team Average Combat Score (ACS) and Average Damage per Round (ADR).
    Team First Kills (FK) and First Deaths (FD) counts and ratios.

Map Performance:

    Individual player performance on each map.
    Team performance on each map.
    Win rates on each map.

Stage and Series Analysis:

    Performance in different stages (e.g., Playoffs, Grand Final).
    Series-level statistics and win rates.

Comparative Analysis:

    Compare individual player statistics against the team average.
    Compare agent performance across players.

Trend Analysis:

    Analyze how player performance changes over different maps or series.
    Identify trends in individual player K/D ratios.

Impact Analysis:

    Assess the impact of individual player performance on team success.

In [1]:
import pandas as pd

df = pd.read_csv('champions-tour-2024-pacific-kickoff_argent/pick_ban_argent_champions-tour-2024-pacific-kickoff.csv')
argent = pd.read_csv('champions-tour-2024-pacific-kickoff_argent\economy_argent_champions-tour-2024-pacific-kickoff.csv')

In [4]:
argent.columns

Index(['Team Name', 'Map #', 'Map Name', 'Stage', 'Series', 'Pistol_Won',
       'Eco', 'Eco_Won', '$', '$_Won', '$$', '$$_Won', '$$$', '$$$_Won',
       'Bank', 'Buys'],
      dtype='object')

In [9]:
import ast
import numpy as np

result = argent.loc[argent['Team Name'] == 'T1', ['Stage', 'Series', 'Team Name']].apply(lambda x: (x['Stage'],x['Series']), axis=1)

# argent[argent['Team Name'] == 'T1']['Buys'].apply(lambda x: np.mean(ast.literal_eval(x)))

In [15]:
list(argent.loc[(argent['Team Name'] == 'T1') & (argent['Stage'] == 'Playoffs') & (argent['Series'] == 'Semifinals')]['Map Name'])

['Split', 'Ascent']

In [15]:
stage = 'Group Stage'
series = 'Opening (C)'
map_name = 'Icebox'
team = ['RRQ', 'ZETA']
import ast
argent.loc[(argent['Series'] == series)]

,Team Name,Map #,Map Name,Stage,Series,Pistol_Won,Eco,Eco_Won,$,$_Won,$$,$$_Won,$$$,$$$_Won,Bank,Buys
4,GEN,1,Icebox,Group Stage,Opening (C),1,4,1,2,2,5,3,13,7,"[400, 8100, 500, 7000, 3700, 8300, 10100, 2130...","[3700, 4100, 20500, 9900, 23300, 7300, 23600, ..."
5,RRQ,1,Icebox,Group Stage,Opening (C),1,3,1,1,0,5,4,15,6,"[200, 1800, 13000, 10900, 6000, 11700, 3200, 7...","[3600, 15700, 14200, 22500, 16600, 22000, 1910..."
6,GEN,2,Split,Group Stage,Opening (C),1,3,1,1,0,8,4,12,6,"[100, 7500, 900, 7000, 2300, 7400, 5800, 3900,...","[4300, 3000, 20700, 11500, 20500, 10400, 19600..."
7,RRQ,2,Split,Group Stage,Opening (C),1,3,1,1,0,9,4,11,8,"[0, 3900, 13700, 11100, 12100, 16100, 17000, 1...","[3700, 13600, 13200, 21300, 20700, 21200, 2200..."
8,GEN,3,Sunset,Group Stage,Opening (C),1,3,1,0,0,5,3,13,9,"[0, 7600, 1300, 9900, 7600, 13400, 3900, 6800,...","[4000, 3300, 19500, 20400, 21300, 23400, 20300..."
9,RRQ,3,Sunset,Group Stage,Opening (C),1,3,1,1,0,10,4,7,3,"[200, 3500, 10900, 2200, 7700, 5000, 8000, 820...","[3800, 15500, 12500, 19500, 9000, 20300, 21500..."

In [11]:
argent.loc[argent['Stage'] == stage]

,Team Name,Map #,Map Name,Stage,Series,Pistol_Won,Eco,Eco_Won,$,$_Won,$$,$$_Won,$$$,$$$_Won,Bank,Buys
0,T1,1,Breeze,Group Stage,Opening (A),0,4,0,2,0,5,3,23,15,"[400, 8600, 300, 6900, 2800, 9000, 3800, 1400,...","[3800, 2700, 21000, 22300, 16600, 9500, 23900,..."
1,BLD,1,Breeze,Group Stage,Opening (A),2,2,2,0,0,9,4,23,10,"[300, 2800, 15400, 2200, 4300, 7000, 16100, 22...","[3800, 16500, 17900, 24200, 22700, 23600, 2540..."
2,T1,2,Lotus,Group Stage,Opening (A),2,2,2,1,0,5,4,11,7,"[300, 2600, 9000, 9700, 17800, 6800, 9300, 103...","[3900, 17200, 19200, 24300, 25400, 24900, 2620..."
3,BLD,2,Lotus,Group Stage,Opening (A),0,3,0,1,0,7,1,8,5,"[300, 8700, 900, 7300, 1000, 10000, 1200, 6300...","[3800, 2300, 21200, 11600, 23300, 23500, 19200..."
4,GEN,1,Icebox,Group Stage,Opening (C),1,4,1,2,2,5,3,13,7,"[400, 8100, 500, 7000, 3700, 8300, 10100, 2130...","[3700, 4100, 20500, 9900, 23300, 7300, 23600, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,TS,2,Ascent,Group Stage,Decider (B),1,3,1,1,0,4,3,12,9,"[400, 8700, 600, 7800, 7200, 19200, 5500, 2900...","[3200, 2400, 20700, 23000, 23300, 24400, 24300..."
58,ZETA,1,Bind,Group Stage,Decider (A),1,3,1,1,1,3,3,14,8,"[200, 600, 6600, 18800, 22300, 29900, 35300, 1...","[3400, 17300, 18900, 19000, 24000, 24000, 2330..."
59,GE,1,Bind,Group Stage,Decider (A),1,3,1,1,0,10,5,7,2,"[400, 900, 13800, 7800, 5600, 2000, 2900, 6200...","[3500, 11100, 1300, 22500, 19300, 19500, 17600..."
60,ZETA,2,Lotus,Group Stage,Decider (A),2,2,2,0,0,3,3,11,8,"[200, 3300, 4900, 11900, 17300, 19100, 31100, ...","[3800, 17100, 20500, 23700, 23700, 23500, 2380..."
61,GE,2,Lotus,Group Stage,Decider (A),0,3,0,2,0,3,0,8,3,"[200, 9000, 1200, 13500, 9200, 6000, 900, 1060...","[3700, 1700, 21600, 5800, 21400, 21000, 20400,..."

In [15]:
teams = set(argent['Team Name'])

banks_buys = {team : (round(np.mean(argent[argent['Team Name'] == team]['Bank'].apply(lambda x: np.mean(ast.literal_eval(x)))),2), round(np.mean(argent[argent['Team Name'] == team]['Buys'].apply(lambda x: np.mean(ast.literal_eval(x)))),2))for team in teams}

In [10]:
import ast 

t = argent.loc[(argent['Stage'] == 'Playoffs') & (argent['Series'] == 'Semifinals') & (argent['Map Name'] == 'Ascent') & (argent['Team Name'] == 'T1')]['Bank'].values[0]
ast.literal_eval(t)

[100,
 600,
 9200,
 900,
 6600,
 2500,
 10900,
 3800,
 12600,
 21600,
 8800,
 2600,
 200,
 100,
 8900,
 2000,
 400,
 1200,
 10900]

In [9]:
t.values[0]

'[100, 600, 9200, 900, 6600, 2500, 10900, 3800, 12600, 21600, 8800, 2600, 200, 100, 8900, 2000, 400, 1200, 10900]'

In [10]:
import ast

l = ast.literal_eval(argent['Bank'].iloc[0])[0] 

for i in range(len(argent)):
    banks = ast.literal_eval(argent['Bank'].iloc[i])[0]
    buys = ast.literal_eval(argent['Buys'].iloc[i])[0]
    tot = banks + buys
    print(tot)

4200
4100
4200
4100
4100
3800
4400
3700
4000
4000
4200
3900
3600
4100
3900
3800
4000
3800
4000
4500
3600
4000
3900
4300
4000
4200
4300
4000
3800
4200
3800
3800
4100
4000
3700
4200
3800
4000
3900
4000
4300
4200
4000
3400
4000
3600
4000
4200
4200
3800
4100
3800
4000
3900
4000
3400
4200
3600
3600
3900
4000
3900
3400
4100
4200
3800
4000
3700
3800
4000
4200
3600
4000
3800
3800
4200
4300
4200
4000
4200
4100
4200
3700
4200
4200
3800
4300
4200
4600
4200
4300
4200

In [21]:
df

        number picked
Breeze              8
Lotus              10
Icebox              5
Split               4
Bind                4
Ascent              8
Sunset              1

In [5]:
import plotly.express as px

fig_maps = px.bar(
    t.sort_values(by="rating", ascending=False).head(15),
    x="rating",
    y="player",
    color="team")