Basic Statistics:

    Total Kills (K) per player. (By scope, by side, ) 
    Total Deaths (D) per player.
    Kill/Death ratio (K/D) per player.
    Average Combat Score (ACS) per player.
    Average Damage per Round (ADR) per player.

Performance Metrics:

    Headshot Percentage (HS%) per player.
    First Kills (FK) and First Deaths (FD) counts and ratios.
    Kill/Death difference (+/-) per player.
    Kill/Death difference in pistol rounds (+/-) per player.

Agent-Specific Metrics:

    Agent popularity and performance analysis.
    Win rates and performance on specific maps for each agent.

Team Performance:

    Total team Kills, Deaths, and K/D ratio.
    Team Average Combat Score (ACS) and Average Damage per Round (ADR).
    Team First Kills (FK) and First Deaths (FD) counts and ratios.

Map Performance:

    Individual player performance on each map.
    Team performance on each map.
    Win rates on each map.

Stage and Series Analysis:

    Performance in different stages (e.g., Playoffs, Grand Final).
    Series-level statistics and win rates.

Comparative Analysis:

    Compare individual player statistics against the team average.
    Compare agent performance across players.

Trend Analysis:

    Analyze how player performance changes over different maps or series.
    Identify trends in individual player K/D ratios.

Impact Analysis:

    Assess the impact of individual player performance on team success.

In [8]:
import pandas as pd
import ast

data = pd.read_csv('champions-tour-2024-pacific-kickoff_data\economy_data_champions-tour-2024-pacific-kickoff.csv')
general = pd.read_csv('champions-tour-2024-pacific-kickoff_data\general_data_champions-tour-2024-pacific-kickoff.csv')
economy = pd.read_csv('champions-tour-2024-pacific-kickoff_data\economy_data_champions-tour-2024-pacific-kickoff.csv')
performance = pd.read_csv('champions-tour-2024-pacific-kickoff_data\performance_data_champions-tour-2024-pacific-kickoff.csv')
team_name_dict = pd.read_csv('data\\team_names.csv')

In [12]:
import ast

t = len(ast.literal_eval(economy['Bank'].iloc[2]))
t

19

In [13]:
economy.head()

,Team Name,Map #,Map Name,Stage,Series,Pistol_Won,Eco,Eco_Won,$,$_Won,$$,$$_Won,$$$,$$$_Won,Bank,Buys
0,T1,1,Breeze,Group Stage,Opening (A),0,4,0,2,0,5,3,23,15,"[400, 8600, 300, 6900, 2800, 9000, 3800, 1400,...","[3800, 2700, 21000, 22300, 16600, 9500, 23900,..."
1,BLD,1,Breeze,Group Stage,Opening (A),2,2,2,0,0,9,4,23,10,"[300, 2800, 15400, 2200, 4300, 7000, 16100, 22...","[3800, 16500, 17900, 24200, 22700, 23600, 2540..."
2,T1,2,Lotus,Group Stage,Opening (A),2,2,2,1,0,5,4,11,7,"[300, 2600, 9000, 9700, 17800, 6800, 9300, 103...","[3900, 17200, 19200, 24300, 25400, 24900, 2620..."
3,BLD,2,Lotus,Group Stage,Opening (A),0,3,0,1,0,7,1,8,5,"[300, 8700, 900, 7300, 1000, 10000, 1200, 6300...","[3800, 2300, 21200, 11600, 23300, 23500, 19200..."
4,GEN,1,Icebox,Group Stage,Opening (C),1,4,1,2,2,5,3,13,7,"[400, 8100, 500, 7000, 3700, 8300, 10100, 2130...","[3700, 4100, 20500, 9900, 23300, 7300, 23600, ..."

In [20]:
def ratio_individual_exploit(total_X, economy):
    """ Function that calculates the ratio of action X in the total number of round throughout the tournament.
        
        Parameter:
            total_X : dictionnary from total_individual_exploit() 
            economy : dataframe from economy_data_scraper()
        
        Return:
            Dict : key is Player Name and value is (ratio, total rounds played)"""
    
    dict_name_ratio = {}

    for keys,values in total_X.items():
        tot_x = sum(values[0])
        tot_rounds = 0
        tot_x
        for i in range(len(values[0])):
            rounds_played = economy.loc[(economy['Team Name'] == list(values[1])[i])
                                            & (economy['Map #'] == list(values[2])[i])
                                            & (economy['Stage'] == list(values[3])[i])
                                            & (economy['Series'] == list(values[4])[i])]['Bank']
            nbr_rounds_played = len(ast.literal_eval(list(rounds_played)[0]))
            tot_rounds+=nbr_rounds_played
        
        dict_name_ratio[keys] = (tot_x/tot_rounds, tot_rounds)
    
    return dict_name_ratio

In [53]:
performance.replace(pd.NA, '[]', inplace=True)
TwoKillsRatio_eco = {name : [performance[performance['Player Name'] == name]['2K'].apply(lambda x: len(ast.literal_eval(x))),
                              performance[performance['Player Name'] == name]['Team Name'],
                              performance[performance['Player Name'] == name]['Map #'],
                              performance[performance['Player Name'] == name]['Stage'],
                              performance[performance['Player Name'] == name]['Series']] for name in set(performance['Player Name'])}

dict_name_ratio = {}

for keys,values in TwoKillsRatio_eco.items():
    tot_x = sum(values[0])
    tot_rounds = 0
    tot_x
    for i in range(len(values[0])):
        rounds_played = economy.loc[(economy['Team Name'] == list(values[1])[i])
                                        & (economy['Map #'] == list(values[2])[i])
                                        & (economy['Stage'] == list(values[3])[i])
                                        & (economy['Series'] == list(values[4])[i])]['Bank']
        nbr_rounds_played = len(ast.literal_eval(list(rounds_played)[0]))
        tot_rounds+=nbr_rounds_played
    
    dict_name_ratio[keys] = (tot_x/tot_rounds, tot_rounds)

In [54]:
dict_name_ratio

{'Deryeon': (0.13934426229508196, 122),
 'Carpe': (0.11042944785276074, 163),
 'Estrella': (0.125, 136),
 'yuran': (0.09004739336492891, 211),
 'Monyet': (0.11518324607329843, 191),
 'MaKo': (0.13533834586466165, 133),
 'd4v41': (0.10471204188481675, 191),
 'sScary': (0.13114754098360656, 122),
 'crazyguy': (0.10655737704918032, 122),
 'neth': (0.12790697674418605, 86),
 'Crws': (0.09016393442622951, 122),
 'stax': (0.12781954887218044, 133),
 'Benkai': (0.10067114093959731, 149),
 'hiroronn': (0.11848341232227488, 211),
 'lenne': (0.07377049180327869, 122),
 'Anthem': (0.09302325581395349, 86),
 'BuZz': (0.14285714285714285, 133),
 'Sayaplayer': (0.1656441717791411, 163),
 'Meiy': (0.1744186046511628, 86),
 'Jremy': (0.16956521739130434, 230),
 'fl1pzjder': (0.08088235294117647, 136),
 'JitBoyS': (0.13114754098360656, 122),
 'Lakia': (0.10392609699769054, 433),
 'Russ': (0.087248322147651, 149),
 'Munchkin': (0.10392609699769054, 433),
 'Polvi': (0.10067114093959731, 149),
 'xffero': (0.13970588235294118, 136),
 'ban': (0.13934426229508196, 122),
 'Lmemore': (0.11029411764705882, 136),
 'BORKUM': (0.12173913043478261, 230),
 'Egoist': (0.18032786885245902, 122),
 'Karon': (0.12009237875288684, 433),
 'Governor': (0.10655737704918032, 122),
 't3xture': (0.16397228637413394, 433),
 'Medusa': (0.12790697674418605, 86),
 'yay': (0.08196721311475409, 122),
 'iZu': (0.15337423312883436, 163),
 'something': (0.1256544502617801, 191),
 'Meteor': (0.14549653579676675, 433),
 'JessieVash': (0.11739130434782609, 230),
 'Foxy9': (0.10526315789473684, 133),
 'Flashback': (0.15789473684210525, 133),
 'invy': (0.16521739130434782, 230),
 'Dep': (0.20853080568720378, 211),
 'SugarZ3ro': (0.10900473933649289, 211),
 'Laz': (0.14218009478672985, 211),
 'Lightningfast': (0.10738255033557047, 149),
 'blaZek1ng': (0.10067114093959731, 149),
 'SSeeS': (0.09302325581395349, 86),
 'xccurate': (0.15950920245398773, 163),
 'NDG': (0.1, 230),
 'Rossy': (0.12269938650306748, 163),
 'f0rsakeN': (0.13612565445026178, 191),
 'mindfreak': (0.1518324607329843, 191),
 'Jemkin': (0.1323529411764706, 136)}

In [ ]:
performance.replace(pd.NA, '[]', inplace=True)
TwoKills = {name : [(performance[performance['Player Name'] == name]['2K'].apply(lambda x: len(ast.literal_eval(x))).iloc[i],
                    performance[performance['Player Name'] == name]['Team Name'].iloc[i], 
                    performance[performance['Player Name'] == name]['Map #'].iloc[i],
                    performance[performance['Player Name'] == name]['Stage'].iloc[i],
                    performance[performance['Player Name'] == name]['Series'].iloc[i]) for i in range(len(performance[performance['Player Name'] == name]['2K']))] for name in set(performance['Player Name'])}

In [ ]:
TwoKillsRatio = {name : [(performance[performance['Player Name'] == name]['2K'].apply(lambda x: len(ast.literal_eval(x))).iloc[i],
                        general.loc[(general['Player Name'] == name) 
                                & (general['Team Name'] == reversed_dict[performance[performance['Player Name'] == name]['Team Name'].iloc[i]])
                                & (general['Map #'] == performance[performance['Player Name'] == name]['Map #'].iloc[i]) 
                                & (general['Stage'] == performance[performance['Player Name'] == name]['Stage'].iloc[i]) 
                                & (general['Series'] == performance[performance['Player Name'] == name]['Series'].iloc[i])]['rounds'].apply(lambda x: len(x.split(', ')))) for i in range(len(performance[performance['Player Name'] == name]['2K']))] for name in set(performance['Player Name'])}

In [ ]:
TwoKillsRatio

In [ ]:
ratio_dict = {}

# Iterate over each key-value pair in the original dictionary
for key, value in TwoKillsRatio.items():
    # Calculate the sum of the first element of each tuple
    try:
        sum_first = sum(pair[0] for pair in value)
        # Calculate the sum of the second element of each tuple
        sum_second = sum(list(pair[1])[0] for pair in value)
        # Calculate the ratio
        ratio = sum_first / sum_second
        # Store the ratio in the new dictionary
        ratio_dict[key] = ratio
    except:
        print(key)

In [2]:
dict_team_name = {
    'BLEED' : 'BLD',
    'DRX' : 'DRX',
    'DetonatioN FocusMe' : 'DFM', 
    'Gen.G':'GEN',
    'Global Esports':'GE',
    'Paper Rex' : 'PRX',
    'Rex Regum Qeon':'RRQ',
    'T1':'T1',
    'Talon Esports':'TLN',
    'Team Secret':'TS',
    'ZETA DIVISION' : 'ZETA'}

In [3]:
import csv

# Specify the file name
csv_file = "data/team_names.csv"

# Open the CSV file in write mode
with open(csv_file, 'w', newline='') as file:
    writer = csv.writer(file)
    # Write the header
    writer.writerow(['FullName', 'SurName'])
    # Write each key-value pair as a row
    for fullname, surname in dict_team_name.items():
        writer.writerow([fullname, surname])

In [4]:
import ast
total_2K = {name : performance[performance['Player Name'] == name]['2K'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in set(performance['Player Name'])}
total_3K = {name : performance[performance['Player Name'] == name]['3K'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in set(performance['Player Name'])}
total_4K = {name : performance[performance['Player Name'] == name]['4K'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in set(performance['Player Name'])}
total_5K = {name : performance[performance['Player Name'] == name]['5K'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in set(performance['Player Name'])}
total_1v1 = {name : performance[performance['Player Name'] == name]['1v1'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in set(performance['Player Name'])}
total_1v2 = {name : performance[performance['Player Name'] == name]['1v2'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in set(performance['Player Name'])}
total_1v3 = {name : performance[performance['Player Name'] == name]['1v3'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in set(performance['Player Name'])}
total_1v4 = {name : performance[performance['Player Name'] == name]['1v4'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in set(performance['Player Name'])}
total_1v5 = {name : performance[performance['Player Name'] == name]['1v5'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in set(performance['Player Name'])}

In [2]:
def total_individual_exploit(performance):
    """ Function that calculate the total number of individual exploit for each player throughout the tournament."""
    
    performance.replace(pd.NA, '[]', inplace=True)
    names = set(performance['Player Name'])

    total_2K = {name : performance[performance['Player Name'] == name]['2K'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in names}
    total_3K = {name : performance[performance['Player Name'] == name]['3K'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in names}
    total_4K = {name : performance[performance['Player Name'] == name]['4K'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in names}
    total_5K = {name : performance[performance['Player Name'] == name]['5K'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in names}
    total_1v1 = {name : performance[performance['Player Name'] == name]['1v1'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in names}
    total_1v2 = {name : performance[performance['Player Name'] == name]['1v2'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in names}
    total_1v3 = {name : performance[performance['Player Name'] == name]['1v3'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in names}
    total_1v4 = {name : performance[performance['Player Name'] == name]['1v4'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in names}
    total_1v5 = {name : performance[performance['Player Name'] == name]['1v5'].apply(lambda x: len(ast.literal_eval(x))).sum() for name in names}

    return total_2K, total_3K, total_4K, total_5K, total_1v1, total_1v2, total_1v3, total_1v4, total_1v5

In [6]:
total_2K, total_3K, total_4K, total_5K, total_1v1, total_1v2, total_1v3, total_1v4, total_1v5 = total_individual_exploit(performance)

In [10]:
import numpy as np
df_rating = pd.DataFrame.from_dict(total_2K, orient='index', columns=['2K']).reset_index()
df_rating.rename(columns={'index': 'Player Name'}, inplace=True)

In [13]:
df_rating['2K'].mean()

22.70909090909091